.wrapper {
  background-color: var(--background-color-fixed-dark);
  color: var(--text-color-fixed-light);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  gap: 60px;
}

.link {
  text-transform: capitalize;
}

.link:hover {
  text-decoration: line-through;
}
